            <div id="disqus_thread"></div>
            <script>
                /**
                 *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                 *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
                 */
                var disqus_developer = {{ disqusDeveloperMode }};
                var disqus_config = function () {
                    this.page.identifier = "{{ '' | page }}";
                    this.page.title = "{{ this.page.title }}";
                    {% if preData %}
                        this.callbacks.preData.push({{preData}});
                    {% endif %}
                    {% if preInit %}
                        this.callbacks.preInit.push({{preInit}});
                    {% endif %}
                    {% if onInit %}
                        this.callbacks.onInit.push({{onInit}});
                    {% endif %}
                    {% if afterRender %}
                        this.callbacks.afterRender.push({{afterRender}});
                    {% endif %}
                    {% if onReady %}
                        this.callbacks.onReady.push({{onReady}});
                    {% endif %}
                    {% if onNewComment %}
                        this.callbacks.onNewComment.push({{onNewComment}});
                    {% endif %}
                    {% if preReset %}
                        this.callbacks.preReset.push({{preReset}});
                    {% endif %}
                    {% if onPaginate %}
                        this.callbacks.onPaginate.push({{onPaginate}});
                    {% endif %}
                    {% if onIdentify %}
                        this.callbacks.onIdentify.push({{onIdentify}});
                    {% endif %}
                    {% if beforeComment %}
                        this.callbacks.beforeComment.push({{beforeComment}});
                    {% endif %}
                    
                };
                
                (function() {  // REQUIRED CONFIGURATION VARIABLE: EDIT THE SHORTNAME BELOW
                    var d = document, s = d.createElement('script');

                    s.src = '{{ disqusProtocol }}://{{ disqusSite }}.disqus.com/embed.js';  // IMPORTANT: Replace EXAMPLE with your forum shortname!

                    s.setAttribute('data-timestamp', +new Date());
                    (d.head || d.body).appendChild(s);
                })();
            </script>
            <noscript>Please enable JavaScript to view the 
            <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a>
            </noscript>